@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800');

$font-stack: 'Montserrat', sans-serif;
$primary-color: #e1253b;
$background-color: #121212;
$transition-duration: 0.3s;

.small-divider {
  border-bottom: 1px solid gray;
  width: 20vw;
}