@import '../../shared.scss';

.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-top: 100px;

  &-header {
    h1 {
      font-size: 9vw;
    }
  }

  &-listContainer {
    width: 70vw;
    border: 1px solid $primary-color;
    background-color: $background-color;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}