@import '../../shared.scss';

.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-top: 100px;

  &-header {
    h1 {
      font-size: 7vw;
    }
  }

  &-listContainer {
    width: 70vw;
    border: 1px solid $primary-color;
    background-color: $background-color;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 30px;
      margin-bottom: 0;
    }

    &-skillGroup {
      color: white;
      border-radius: 15px;
      padding: 20px;
      display: flex;
      clear: left;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      background-color: char;
      animation-delay: 1s;
      animation-duration: 1s;
      
      
      &-skill {
        margin: 15px;
        justify-content: center;
        align-items: center;
        align-self: center;
        flex-direction: row;
        text-align: center;
        animation-delay: 1s;
        animation-duration: 1s;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        p {
          font-size: 13px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .skillAnimation {
      animation-name: skillAnimation;
      animation-delay: 0.5s;
      animation-duration: 1s;
      // @for $i from 1 through 25 {
      //   &:nth-child(#{$i}) {
      //     img {
      //       animation-name: skillAnimation;
      //       animation-delay: #{$i + 0.5}s;
      //       animation-duration: #{$i + 0.5}s;
      //     }
      //   }
      // }
    }
    @keyframes skillAnimation {
      0%   {margin-top: 0px; margin-bottom: 0px;}
      50%  {margin-top: -20px; margin-bottom: 20px;}
      100% {margin-top: 0px; margin-bottom: 0px;}
    }
  }
}